body { 
	margin: 0px;
	font-family: sans-serif; 
	background: #fff; 
	box-sizing: border-box;
	font-family: 'Roboto';
}

h1{
	position: relative;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 60px;
	text-shadow: 3px 3px 0px #000;
	margin-top: 20px;	
}

h2{
	color: #fff;
	font-weight: 500;
	text-shadow: 2px 1px 0px #000;
	font-size: 25px;	
}

#results h2{
	text-align: center;
}

h3{
	color: #963fff;
	font-size: 40px;	
	margin-bottom: 0px;
	line-height: 40px;
}

a{
	text-decoration: none;
	font-size: 16px;
	font-weight: none;
	color: #963fff;	
}

img{
	max-width: 100%;
}

.container { 
	margin: 0 auto; 
	max-width: 800px; 
}

#header {
	background-image: url('../images/zombz_bg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	background-color: #963fff;
	width: 100%;
	padding: 100px 0;
	color: #fff;
}

.header-wrapper {
	margin: 0 auto; 
	max-width: 1000px; 
	background-color: red !important;
	padding: 0 50px;
}

.header-image{
	width: 50%;	
	float: left;
}

.header-text{
	width: 50%;
	float: left;
	position: relative;
	padding: 50px 0 0 30px;
	box-sizing: border-box;
}

#reasons{
	list-style: none;
	margin: 0;
	padding: 0;
}

.reason{
	text-align: center;
	margin: 0 auto;	
	border-bottom: 1px solid #ead3fd;
	padding: 0 25px 20px;
}

.reason p{
	font-family: 'Roboto Slab';
	font-size: 30px;
	color: #4f4f4f;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;  
	margin-top: 25px;	
	line-height: 45px;
}

a.person{
	font-size: 25px;
	color: #963fff;
}

a.person:hover{
	color: #692db3;
}

.tags{
	display: block;
	padding: 30px 0 20px;
}

a.tag{
	display: inline-block;
	background-color: #963fff;
	padding: 5px 10px; 
	color: #99ff2b;	
	border-radius: 4px;
	margin-bottom: 10px;
}

a.tag:hover{
	background-color: #692db3;
}

#results, #footer{
	background-color: #963fff;
	padding: 20px 0;
}

#footer{
	background-color: #963fff;	
	text-align: center;
	color: #fff;
	font-size: 14px;
	text-shadow: 1px 1px 0px #000;
}

#footer span{
	padding: 20px 0;
}
/***********

Shared Stuff

***********/

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}	

.colorize {
	color: #99ff2b;
	font-weight: 500;
}

a.colorize:hover{
	text-decoration: underline;
}

.no-border{
	border: none;
}

.show_all{
	text-align: center;
	margin: 50px auto 50px;
	padding: 0 20px;	
}

.show_all a{
	font-weight: bold;
}

.show_all a:hover{
	text-decoration: underline;
}


@media all and (max-width: 1080px){
	h1{
		font-size: 55px;
		margin-top: 10px;
	}
}

@media all and (max-width: 930px){
	h1{
		font-size: 45px;
	}
	h2{
		font-size: 22px;
	}		
}

@media all and (max-width: 800px){
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 20px;
	}	
	h3{
		font-size: 35px;
	}
	#header{
		padding: 50px 0;
	}	
	.reason p{
		font-size: 25px;
		margin-bottom: 30px;	
		padding: 0 50px;	
		line-height: 40px;
	}
}

@media all and (max-width: 768px){
	#header{
		background-attachment: scroll;
		background-position: left center;
	}
}

@media all and (max-width: 745px){
	h1{
		font-size: 30px;
		margin-top: 0px;
	}
	h2{
		font-size: 18px;
	}	
}

@media all and (max-width: 600px){
	h1{
		font-size: 50px;
		text-align: center;
	}
	h2{
		font-size: 22px;
		text-align: center;
	}
	.header-image{
		width: 100%;
	}
	.header-text{
		width: 100%;
		padding: 40px 0 0 0;
	}
	.reason p{
		padding: 0 25px;	
	}
}

@media all and (max-width: 414px){
	h1{
		font-size: 40px;
		text-align: center;
	}
	h2{
		font-size: 20px;
		text-align: center;
	}	
	.reason p{
		font-size: 20px;
		padding: 0;		
		line-height: 35px;
	}	
	h3{
		font-size: 30px;
	}
	a.person{
		font-size: 22px;
	}
}

@media all and (max-width: 350px){
	h1{
		font-size: 30px;
		text-align: center;
	}
	h2{
		font-size: 18px;
		text-align: center;
	}	

}