body { 
	margin: 0px;
	font-family: sans-serif; 
	background: #fff; 
	box-sizing: border-box;
	font-family: 'Roboto';
}


h1{
	position: relative;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 65px;
	text-shadow: 3px 3px 0px #000;
}

h2{
	font-weight: 500;
	text-shadow: 2px 1px 0px #000;
	font-size: 25px;
}

h3{
	color: #963fff;
	font-size: 40px;	
}

a{
	text-decoration: none;
}

.container { 
	margin: 0 auto; 
	max-width: 800px; 
}

#header {
	background-image: url('../images/zombz4.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #963fff;
	width: 100%;
	padding: 100px 0;
	color: #fff;
}

.header-wrapper {
	margin: 0 auto; 
	background-color: black;
	max-width: 1000px; 
}

.header-image{
	width: 50%;	
	float: left;
}

.header-text{
	width: 50%;
	float: left;
	position: relative;
	padding: 50px 0 0 50px;
	box-sizing: border-box;
}

#reasons{
	list-style: none;
	margin: 0;
	padding: 0;
}

.reason{
	text-align: center;
	margin: 0 auto;	
	border-bottom: 1px solid #ead3fd;
	padding: 0px 0 20px;
}

.reason p{
	font-size: 30px;
}

.person{
	font-size: 25px;
	color: #fc90fd;
	font-style: italic;	
}

.tags{
	display: block;
	padding: 30px 0 ;
}

a.tag{
	display: inline-block;
	background-color: #963fff;
	padding: 5px 10px; 
	color: #99ff2b;	
	border-radius: 4px;
}

a.tag:hover{
	background-color: #000;
}

/***********

Shared Stuff

***********/

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}	

.colorize {
	color: #99ff2b;
	font-weight: 500;
}

.no-border{
	border: none;
}