{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% set paramPerson = craft.request.getParam('person') %}
{% set paramTag = craft.request.getParam('tag') %}
{% set reasons = craft.entries.limit(null).section('reasons') %}
{% set people = craft.tags.group('people') %}
{% set tags = craft.tags.group('default') %}

{% if paramPerson == NULL %}
	{% set selectedPerson = people %}
{% else %}
	{% set selectedPerson = people.slug(paramPerson).first() %}
{% endif %}

{% if paramTag == NULL %}
	{% set selectedTag = tags %}
{% else %}
	{% set selectedTag = tags.slug(paramTag).first() %}
{% endif %}

{% set selectedReasons = reasons.relatedTo( 'and', {targetElement: selectedPerson }, {targetElement: selectedTag }).order('RAND()') %}

{% block content %}

	<header id="header" class="clearfix">

		<div class="header-wrapper">
			
			<div class="header-image">
				<a href="{{ siteUrl }}"><img class="wow zoomIn" src="{{ craft.config.environmentVariables.baseUrl }}assets/images/ericsguts.png" alt=""></a>

			</div>
			<div class="header-text">
				<h1 class="wow fadeInDown">{{ siteName }}</h1>

				<h2 class="wow fadeInDown">Actually, there are <span class="colorize">{{ reasons|length }} reasons</span> from <span class="colorize">{{ people.releatedTo(reasons)|length }} people</span>, but who's counting!</h2>

			</div>

		</div>

	</header>

	<div id="results" class="wow fadeIn">

		<div class="container clearfix">

			<div class="container-50">

				<select onchange="location.href='{{ craft.request.url }}?person='+this.options[this.selectedIndex].value+'#results'">
					<option disabled>Select a person</option>

				    <option value="">All people {% if paramTag == NULL and paramPerson == NULL %}[{{ selectedReasons|length }} Reasons]{% elseif paramPerson != NULL %}[{{ reasons|length }} Reasons]{% endif %}</option>

					{% for person in people %}
						{% set related = reasons.relatedTo(person)%}
					    <option {% if paramPerson == person.slug %}selected{% endif %} value="{{ person.slug }}">{{ person.title }} [{{ related|length }} Reasons]</option>
					{% endfor %}
				</select>

			</div><!-- END container-50 -->

			<div class="container-50">

				<select onchange="location.href='{{ craft.request.url }}?tag='+this.options[this.selectedIndex].value+'#results'">
					<option disabled>Select a tag</option>					
				    <option value="">All tags {% if paramPerson == NULL and paramTag == NULL %}[{{ selectedReasons|length }} Reasons]{% elseif paramTag != NULL %}[{{ reasons|length }} Reasons]{% endif %}</option>						
					{% for tag in tags %}
						{% set related = reasons.relatedTo(tag)%}
					    <option {% if paramTag == tag.slug %}selected{% endif %} value="{{ tag.slug }}">{{ tag.title|capitalize }} [{{ related|length }} Reasons]</option>
					{% endfor %}
				</select>	

			</div><!-- END container-50 -->

		</div><!-- END container -->				

	</div><!-- END #results -->
    

	<ul class="reasons" id="reasons">

		{% if selectedReasons|length %}

			{% cache globally using key "Reasons" ~ "-" ~ paramPerson ~ "-" ~ paramTag unless craft.config.devMode %}

				{% for reason in selectedReasons %}
					<li id="reason{{loop.index}}" class="reason">

						<div class="container wow fadeInUp">

						    <h3>Reason {{ loop.index }}</h3>
						    
						    {{ reason.body }}

							{% for person in reason.person %}
							    {% if loop.first %}{% endif %}<a href="{{ siteUrl }}?person={{ person.slug }}#results" class="person wow zoomIn">{{ person }}</a>{{ not loop.last ? ', ' }}
							{% endfor %}

						    <span class="tags wow slideInUp">
						    	{% for tag in reason.tags %}
								    <a href="{{ siteUrl }}?tag={{ tag.slug }}#results" class="tag">{{ tag }}</a>
						    	{% endfor %}
							</span>

						</div><!-- END .container -->

					</li>	

				{% endfor %}

			{% endcache %}			

		{% endif %}

		<li class="show_all wow fadeIn">

			<a href="{{ siteUrl }}" ><img class="wow slideInRight" src="{{ craft.config.environmentVariables.baseUrl }}assets/images/estang.png" alt=""></a>

			<br/><br/><br/>

			<a href="#top">Back to top</a>
		</li>

	</ul>

	<div id="footer" class="wow fadeIn">

		<div class="container">	

			<span class="">&copy; Copyright {{ "now"|date("Y") }} - {{ footer.copyrightText }}</span>

		</div>

	</div>	

{% endblock %}